<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Performance Analytics</title>
</head>
<body>
    <h1>Performance Analytics</h1>

    <p> Total Tests:
        <span th:text="${analytics.totalTests}"></span>
    </p>

    <p>Highest Score:
        <span th:text="${analytics.highestScore}"></span>

    </p>

    <p>Average Score:
        <span th:text="${analytics.averageScore}"></span>

    </p>

    <p>Latest Score:
        <span th:text="${analytics.latestScore}"></span>

    </p>
<hr>
<a th:href="@{/auth/dashboard}">Back to Dashboard</a>

</body>
</html>