<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Interview-Summary</title>
</head>
<body>
    <h1>Mock Interview Result</h1>
<!--    <h2>Total Score:-->
<!--    <span th:text="${totalScore}"></span>-->
<!--    </h2>-->
<!--    <h2>Percentage:-->
<!--        <span th:text="${percentage}"></span>-->
<!--    </h2>-->
<!--    <hr>-->
<!--    <div th:each="a:${answers}">-->
<!--        <h3 th:text="${a.question}"></h3>-->
<!--        <p>-->
<!--            <b>Score:</b>-->
<!--            <span th:text="${a.score}"></span>/10-->
<!--        </p>-->
<!--        <p>-->
<!--            <b>Feedback:</b>-->
<!--            <span th:text="${a.feedback}"> </span>-->
<!--        </p>-->
<!--        <hr>-->
<!--    </div>-->
<!--<h2>Overall AI Feedback</h2>-->
<!--    <p th:text="${overallFeedback}"></p>-->
    <h1>Mock Interview Report</h1>

    <pre th:text="${report}"></pre>

    <a href="/auth/dashboard">Back To Dashboard</a>
</body>
</html>